*{
    padding:0px;
    margin: 0px;
}

.al_ju_cc{
    display:flex;
    justify-content:center;
    align-items:center;
}
.top{
    width: 100%;
    height:150px;
    background-color: #fdffd5;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;
}
.left{
    width: 240px;
    height: 300px;
    background-color: #fefeff;
    display: inline-block;
    vertical-align:top;
}
#introduce{
    display:flex;
    align-items:flex-start;
    width:190px;
    height:30px;
    margin-bottom:10px;
    margin-left: 20px;
}
ul{
    list-style:none;
}
#classify{
    width:240px;
    height:200px;
    margin:auto;
}
#userApwd{
    width: 300px;
    height:200px;
    display:none;
    background-color:black;
}
#user_inner_block{
    width:200px;
    height:100px;
    flex-direction:column;
    margin:auto;
    margin-top:15%;
}
#submit_cancel_block{
    margin-left:10px;
}
.block_blank{
    width:100%;
    height:16px;
}
.text1{
    border-radius:4px;
}
li{
    width:90px;
    height:40px;
    border:1px solid black;
    background-color:ghostwhite;
    border-radius:4px;
}
a{
    text-decoration-line:none;
    color:black;
}
li:hover{
    color:black;
    background-color: whitesmoke;
    cursor:pointer;
}
.middle{
    width:100%;
    white-space:normal;
    display:flex;
    border:1px solid black;
    background-color: #f6f6f6;
}
.middle_block{
    width: 86%;
    border:1px solid black;
    white-space:nowrap;
    display: flex;
}
.mid{
    display:inline-block;
    vertical-align:top;
    width:500px;
    height:400px;
    border:1px solid black;
}
#deathCode_block{
    width:200px;
    left:300px;
    position:absolute;
    border:1px solid black;
    margin-top:340px;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
}
.deathCode_div{
    display:inline-block;
    width:10px;
    height:10px;
    border:1px solid black;
    border-radius:50%;

}
.marginLeft{
    margin-left:10px;
}
